[Unit]
Description=Switching among TTYs and locking them using dedicated hardware
Documentation=man:switcher

[Service]
ExecStart=/home/b1f6c1c4/switcher/switcher
Type=simple
TimeoutSec=infinity
ExitType=cgroup
StandardInput=tty-force
StandardOutput=tty
TTYPath=/dev/tty63
TTYReset=1
TTYVHangup=yes
Environment=SUDO_USER=b1f6c1c4
